*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}
main{
    display: block;
}
form{
    margin: 20px auto;
    position: relative;
    left: 560px;
    top: 250px;
    display: flex;
}
.natura{
    position: relative;
    left: 8px;
}
p{
    width: 110px;
    height: 20px;
    font-size: 16px;
    margin-bottom: 5px;
    margin-top: 50px;
    border: 1px solid #424242;
    background-color: #dfdfdf;
}
p:hover{
    background-color: #d3d2d2;
    cursor: pointer;
}